<a href="https://colab.research.google.com/github/majorquev/DBDC_202106_Programacion_en_R_para_ciencia_de_datos/blob/main/Clases/Clase2/Clase_2_02_listas_y_dataframes_desarrollo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Parte 1: Introducción a R (continuación)

**Autor:** Miguel Jorquera Viguera<br>
**E-mail:** majorquev@gmail.com<br>
**Ayudante:** Jorge Arévalo Labarca <br>
**E-mail ayudante:** jorge.arevalol@usach.cl


## 5. Listas y Dataframes

### 5.1 Listas

Hasta aquí contamos con dos tipos de objetos para almacenar datos; vectores y matrices. Sin embargo, en ambos casos se tiene la limitante de que no es posible combinar distintos tipos de datos en diferentes entradas. Un objeto que permite una mayor flexibilidad son las listas. En R, una lista es básicamente un arreglo unidimensional, donde en cada entrada es posible almacenar distintos **objetos** (los cuales a su vez pueden almacenar distintos tipos de datos (u otros objetos).
En resumen,

   * ¿Qué son?<br>
    Arreglos unidimensionales que guardan distintos tipos de datos u objetos.<br>

   * ¿Cómo se declaran?<br>
    Se pueden declarar mediante el comando list() o combinando listas existentes. <br>
    
   * ¿Cómo se accede a sus elementos?<br>
    Usando [ ] (retorna lista), o bien usando [ [ ] ] (retorna el objeto). 
    En cada caso se puede indicar la posición o nombre del objeto que se quiere rescatar.<br>
    Otra manera es mediante el símbolo $ seguido del nombre del objeto.

In [22]:
# 5. Listas y dataframes ------------
# 5.1 Listas  ------------
# Cómo declarar una lista (comando list() )
#num,letra, pl, mat, lista
l1 <- list(num = 10,
           letra = "A",
           vector = c(10,20,30),
           matr = diag(10:13)   )

l2 <-  list(1,c(1,2,3), "hoola")

In [23]:
l1

$num
[1] 10

$letra
[1] "A"

$vector
[1] 10 20 30

$matr
     [,1] [,2] [,3] [,4]
[1,]   10    0    0    0
[2,]    0   11    0    0
[3,]    0    0   12    0
[4,]    0    0    0   13

In [24]:
l2

[[1]]
[1] 1

[[2]]
[1] 1 2 3

[[3]]
[1] "hoola"

In [25]:
# largo
length(l1)

[1] 4

In [26]:
# Nombres
names(l1)

[1] "num"    "letra"  "vector" "matr"

In [27]:
# estructura
str(l1)

List of 4
 $ num   : num 10
 $ letra : chr "A"
 $ vector: num [1:3] 10 20 30
 $ matr  : int [1:4, 1:4] 10 0 0 0 0 11 0 0 0 0 ...

In [28]:
# Podemos combinar listas
l3 <- list(otro_num = 100,
           otra_letra = "X")

In [29]:
l4 <- c(l1,l3)
l4

$num
[1] 10

$letra
[1] "A"

$vector
[1] 10 20 30

$matr
     [,1] [,2] [,3] [,4]
[1,]   10    0    0    0
[2,]    0   11    0    0
[3,]    0    0   12    0
[4,]    0    0    0   13

$otro_num
[1] 100

$otra_letra
[1] "X"

In [30]:
str(l4)

List of 6
 $ num       : num 10
 $ letra     : chr "A"
 $ vector    : num [1:3] 10 20 30
 $ matr      : int [1:4, 1:4] 10 0 0 0 0 11 0 0 0 0 ...
 $ otro_num  : num 100
 $ otra_letra: chr "X"

In [31]:
# Acceso mediante posición
l4[3]

$vector
[1] 10 20 30

In [32]:
class(l4[3])

[1] "list"

In [33]:
# NOTA lista[.] retorna un lista con un elemento,
# lista[[.]] retorna el elmento de la lista lista[.]
l4[[3]]

[1] 10 20 30

In [34]:
class(l4[[3]])

[1] "numeric"

In [37]:
elem_3_de_l4 <- l4[[3]]

In [38]:
elem_3_de_l4[2]

[1] 20

In [40]:
# de la lista l4[[4]], quiero el elemento de posición (3,3)
l4[[4]][3,3]

[1] 12

 [1] "A" "B" "C" "D" "E" "F" "G" "H" "I" "J" "K" "L" "M" "N" "O" "P" "Q" "R" "S"
[20] "T" "U" "V" "W" "X" "Y" "Z"

In [42]:
l5 <- list(nuevo_valor = c(1,2),
           nueva_lista = list(a = 1:9, let = LETTERS) ) # LETTERS es un vector con el alfabeto

In [45]:
# Quiero rescatar la 5ta letra del vector let, de la entrada llamada nueva_lista de la lista l5.

l5[[2]][[2]][5]

[1] "E"

In [50]:
# Acceso mediante nombre
l4["vector"]# retorna una lista con el elemento

$vector
[1] 10 20 30

In [49]:
l4[["vector"]]# retorna directamente  el elemento

[1] 10 20 30

In [51]:
# La consulta anterior a la lista anidada:
str(l5)

List of 2
 $ nuevo_valor: num [1:2] 1 2
 $ nueva_lista:List of 2
  ..$ a  : int [1:9] 1 2 3 4 5 6 7 8 9
  ..$ let: chr [1:26] "A" "B" "C" "D" ...

In [54]:
l5[["nueva_lista"]][["let"]][5]

[1] "E"

In [57]:
str(l4)

List of 6
 $ num       : num 10
 $ letra     : chr "A"
 $ vector    : num [1:3] 10 20 30
 $ matr      : int [1:4, 1:4] 10 0 0 0 0 11 0 0 0 0 ...
 $ otro_num  : num 100
 $ otra_letra: chr "X"

In [58]:
# acceso vía "$"
l4$num # Es lo mismo  que
l4[["num"]]
l4[[1]]

[1] 10

[1] 10

[1] 10

In [61]:
# Nuestra consulta anidada....
l5$nueva_lista$let[5]

[1] "E"

In [66]:
# para saber el largo de la lista/vector
length(l4)
# Para obtener los nombres de la lista
names(l4)

[1] 6

[1] "num"        "letra"      "vector"     "matr"       "otro_num"
[6] "otra_letra"

In [69]:
# si quisiéramos renombrar los slots:
# Ej: Cambiar el nombre de la 5ta entrada
names(l4)[5] <- "nuevo_nombre"

In [70]:
str(l4)

List of 6
 $ num         : num 10
 $ letra       : chr "A"
 $ vector      : num [1:3] 10 20 30
 $ matr        : int [1:4, 1:4] 10 0 0 0 0 11 0 0 0 0 ...
 $ nuevo_nombre: num 100
 $ otra_letra  : chr "X"

In [71]:
# También podemos crear nuevos "slots"
## Indicando nombre en [[]] y luego asignando
l4[["nueva_entrada"]] <- c(T,F,F)

In [ ]:
str(l4)

In [74]:
## Indicando el nombre luego del "$" y luego asignando

l4$otra_nueva_entrada <- letters[5:10]

In [75]:
str(l4)

List of 8
 $ num               : num 10
 $ letra             : chr "A"
 $ vector            : num [1:3] 10 20 30
 $ matr              : int [1:4, 1:4] 10 0 0 0 0 11 0 0 0 0 ...
 $ nuevo_nombre      : num 100
 $ otra_letra        : chr "X"
 $ nueva_entrada     : logi [1:3] TRUE FALSE FALSE
 $ otra_nueva_entrada: chr [1:6] "e" "f" "g" "h" ...

In [76]:
# podemos modificar elementos dentro de un slot
l4$vector[2] <- 99
str(l4)

List of 8
 $ num               : num 10
 $ letra             : chr "A"
 $ vector            : num [1:3] 10 99 30
 $ matr              : int [1:4, 1:4] 10 0 0 0 0 11 0 0 0 0 ...
 $ nuevo_nombre      : num 100
 $ otra_letra        : chr "X"
 $ nueva_entrada     : logi [1:3] TRUE FALSE FALSE
 $ otra_nueva_entrada: chr [1:6] "e" "f" "g" "h" ...

### 5.2 Dataframes

Un dataframe es un caso particular de una lista, donde los objetos de cada entrada corresponden a vectores de datos del mismo largo. E este caso cada vector corresponde a una columna del data.frame, mientras que la cantidad de filas corresponde al largo común de los vectores de cada entrada. El objeto resultante es una *tabla*, de ahora en adelante *data.frame*, cuyas columnas poseen distintos tipos de datos entre sí. 

 * ¿Cómo se declara un dataframe?<br>
     Mediante la función data.frame(), indicando los vectores que conformarán las columnas.
 
 * ¿Cómo se accede a los datos de un data.frame?<br>
    Al ser una lista, se puede acceder de la misma manera. Sin embargo también es posible acceder del modo en que se accede a los elementos de una matriz.

In [77]:
# 5.2 Dataframes ----------
# Ejemplo sencillo de definición de un data.frame
# recordar que 1:3 es lo mismo que c(1,2,3)
n1 <- 1:4
let <- LETTERS[1:4]
nom <- c("miguel","andré", "Angel", "Cynthia")


df <- data.frame(num = n1,
                 letra = let ,
                 nombre = nom )

In [78]:
df

  num letra nombre
1 1   A     miguel
2 2   B     andré
3 3   C     Angel
4 4   D     Cynthia

In [79]:
# NOTA
# Dimensión de un data.frame (mismo concepto que en el caso de una matriz)
dim(df)

[1] 4 3

In [81]:
# Acceso a columnas de un data.frame
## Igual que en una lista (o matriz)

# Por posición (como en una matriz)
df[,3]

# Por nombre (como en una matriz)
df[,"nombre"]

[1] "miguel"  "andré"   "Angel"   "Cynthia"

[1] "miguel"  "andré"   "Angel"   "Cynthia"

In [83]:
# Como en una lista
# Por posición (como lista)
df[3]  # un data.frame con la columna
df[[3]]# Los elementos de la columna, directamente.

  nombre
1 miguel
2 andré
3 Angel
4 Cynthia

[1] "miguel"  "andré"   "Angel"   "Cynthia"

In [85]:
# Por nombre (como lista)
df["nombre"]  # un data.frame con la columna
df[["nombre"]]# Los elementos de la columna, directamente.

  nombre
1 miguel
2 andré
3 Angel
4 Cynthia

[1] "miguel"  "andré"   "Angel"   "Cynthia"

In [86]:
# Por "$" (como lista)
df$nombre # Los elementos de la columna, directamente.

[1] "miguel"  "andré"   "Angel"   "Cynthia"

In [88]:
##  Ganamos acceso como matriz
# segundafila de df
df[2,]

# segunda columna y segunda fila

df[2,2]

  num letra nombre
2 2   B     andré

[1] "B"

In [89]:
#Podemos crear nuevas columnas , del mismmo modo que creamos "slots" en una lista
df$edad <- c(32,32,26,16)
df

  num letra nombre  edad
1 1   A     miguel  32
2 2   B     andré   32
3 3   C     Angel   26
4 4   D     Cynthia 16

In [90]:
# podemos seleccionar más de una columna a la vez. Ej: seleccionar col1y col3

# Referenciando el nombre de las columnas
df[,c("nombre","edad")] #mismo comportamiento que una matriz

  nombre  edad
1 miguel  32
2 andré   32
3 Angel   26
4 Cynthia 16

In [91]:
# Referenciando las posiciones de las columnas
df[,c(3,4)] #mismo comportamiento que una matriz

  nombre  edad
1 miguel  32
2 andré   32
3 Angel   26
4 Cynthia 16

In [92]:
# Se mantiene la lógica de acceso a los sots de una lista.
df[c("nombre","edad")] # mismo comportamiento que una lista

  nombre  edad
1 miguel  32
2 andré   32
3 Angel   26
4 Cynthia 16